langchain-community >=0.3.24
langchain-huggingface >=0.2.0
langchain >=0.3.25
torch >=2.7.0
transformers >=4.52.2
sentence-transformers >=3.2.1
streamlit >= 1.45.1
pypdf >=5.5.0
faiss-cpu >=1.11.0
accelerate =>1.5.0